### Regresion Logistica
Renovacion de prestamo

In [2]:
## Librerias
import os
import pandas as pd

In [3]:
ruta=os.getcwd()
print(ruta)

c:\Users\Lenovo\Documents\CURSOS\Machine_Learning_Tutorial\Machine_Learning_Tutorial\2_Aprendizaje_Supervisado\02_Clasificacion

In [5]:
data=pd.read_csv('c:/Users/Lenovo/Documents/CURSOS/Machine_Learning_Tutorial/00_Data/Renovacion_prestamo.csv', sep=';')
data.head()

,MES,CLIENTE,LINEA_RENOVADO,PLAZO_RENOVADO,FLAG_VENTA,USO_LINEA_TOTAL_TC_T2,USO_TRIM_LINEA_BBVA,NR_ENTIDADES_TOTAL_T2,DIFF_NRO_ENTIDA_TOTALES_T2_T12,SDO_CONSUMO_T2,...,PConsumo_Sldo_Bco_T1,SDO_BCO_tot_sm_pasivo_Bco_6M,EDAD,SEXO,EST_CIVIL,ANTIGUEDAD_MES,REGION,FLAG_LIMA_PROVINCIA,SUELDO_ESTIMADO,CUBRIR_DEUDA_CONSUMO_SF_RENOVA_PLD
0,201506,25039914,3770,12,0,0.000000,0.000000,1,-1,271.12,...,457,3754.333333,25.0,M,S,23.0,LIMA NORTE,1,3531.0,0.071915
1,201506,23478752,1300,6,0,0.000000,0.000000,1,0,11200.00,...,11200,1581.333333,33.0,M,S,56.0,LIMA ESTE,1,1322.0,8.615380
2,201506,25156013,7800,36,0,0.429507,0.225615,5,-2,20156.45,...,4778,10241.000000,26.0,M,S,20.0,LIMA MODERNA,1,4234.0,2.584160
3,201506,21135879,6630,12,0,0.000000,0.000000,1,1,20485.14,...,0,5797.333333,51.0,M,S,166.0,NORTE,0,6647.0,3.089760
4,201506,23495765,15497,36,1,NaN,NaN,1,0,1682.83,...,1935,16755.333330,35.0,M,C,55.0,NORTE,0,2094.0,0.108590

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87556 entries, 0 to 87555
Data columns (total 22 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   MES                                 87556 non-null  int64
 1   CLIENTE                             87556 non-null  int64
 2   LINEA_RENOVADO                      87556 non-null  int64
 3   PLAZO_RENOVADO                      87556 non-null  int64
 4   FLAG_VENTA                          87556 non-null  int64
 5   USO_LINEA_TOTAL_TC_T2               68364 non-null  float64
 6   USO_TRIM_LINEA_BBVA                 68364 non-null  float64
 7   NR_ENTIDADES_TOTAL_T2               87556 non-null  int64
 8   DIFF_NRO_ENTIDA_TOTALES_T2_T12      87556 non-null  int64
 9   SDO_CONSUMO_T2                      82370 non-null  float64
 10  RESENCIA_OFERTA_PLD_RENOVADO        73700 non-null  float64
 11  Ahorro_Sldo_Bco_T1                  87556 non-null  int64
 12  PConsumo_Sldo_Bco_T1                87556 non-null  int64
 13  SDO_BCO_tot_sm_pasivo_Bco_6M        87556 non-null  float64
 14  EDAD                                87555 non-null  float64
 15  SEXO                                87555 non-null  object
 16  EST_CIVIL                           87555 non-null  object
 17  ANTIGUEDAD_MES                      87555 non-null  float64
 18  REGION                              87538 non-null  object
 19  FLAG_LIMA_PROVINCIA                 87556 non-null  int64
 20  SUELDO_ESTIMADO                     87519 non-null  float64
 21  CUBRIR_DEUDA_CONSUMO_SF_RENOVA_PLD  87556 non-null  float64
dtypes: float64(9), int64(10), object(3)
memory usage: 14.7+ MB

#### Visulaizacion del target