In [1]:
import pandas as pd

In [2]:
import numpy as np

In [4]:
import os 
ruta=os.getcwd()
print(ruta)

c:\Users\Lenovo\Documents\CURSOS\Machine_Learning_Tutorial\Machine_Learning_Tutorial\01_Regression

In [12]:
enaho=pd.read_csv('c:/Users/Lenovo/Documents/CURSOS/Machine_Learning_Tutorial/00_Data/enaho2022.csv',sep=",",dtype=str)

In [13]:
enaho.head()

,aÑo,mes,conglome,vivienda,hogar,codperso,ubigeo,dominio,estrato,p201p,...,p301b3,m300,m3001,sexo,educ,ing_lab,ing_lab_mensual,ling_lab_mensual,exper,exper2
0,2022,10,015015,092,11,01,010101,sierra norte,de 20 000 a 49 999 habitantes,20220150150921101,...,NaN,Matched (3),Matched (3),Varon,11.0,38481.0,3206.75,8.073013,15.0,225.0
1,2022,07,015012,019,11,02,010101,sierra norte,de 20 000 a 49 999 habitantes,20200150120191102,...,NaN,Matched (3),Matched (3),Mujer,6.0,17353.941,1446.1617,7.276668,23.0,529.0
2,2022,08,015002,002,11,04,010101,sierra norte,de 20 000 a 49 999 habitantes,20220150020021104,...,1.0,Matched (3),Matched (3),Varon,11.0,2404.0,200.33333,5.2999825,2.0,4.0
3,2022,03,015080,041,11,01,010101,sierra norte,area de empadronamiento rural (aer) simple,20220150800411101,...,NaN,Matched (3),Matched (3),Varon,11.0,12762.0,1063.5,6.969321,8.0,64.0
4,2022,11,015023,062,11,01,010101,sierra norte,de 20 000 a 49 999 habitantes,20220150230621101,...,1.0,Matched (3),Matched (3),Mujer,16.0,37429.0,3119.0833,8.045295,25.0,625.0