## Modelo Minceriano ENAHO 2022

**Autor** : Lucas Morales Luis Gerardo

El modelo de Mincer ha sido ampliamente utilizado en la literatura para estimar los determinantes de los salarios. El modelo en cuestion tiene como objetivo explicar el logaritmo del salario de los trabajadores en funcion de la edad, el genero, localizacion, educacion, entre
otras variables

$$ln\left(Yl_i\right) = \beta X_i+ \delta P_i+u_i$$

In [6]:
# librerias
import pandas as pd
import os
import numpy as np
import seaborn as sns

In [2]:
# Ruta de trabajo
ruta=os.getcwd()
print(ruta)

c:\Users\Lenovo\Documents\CURSOS\Machine_Learning_Tutorial\Machine_Learning_Tutorial\01_Regression

In [3]:
df_enaho2022=pd.read_csv('c:/Users/Lenovo/Documents/CURSOS/Machine_Learning_Tutorial/00_Data/enaho2022.csv',sep=",",dtype=str)
df_enaho2022.head(4)

,aÑo,mes,conglome,vivienda,hogar,codperso,ubigeo,dominio,estrato,p201p,...,p301b3,m300,m3001,sexo,educ,ing_lab,ing_lab_mensual,ling_lab_mensual,exper,exper2
0,2022,10,015015,092,11,01,010101,sierra norte,de 20 000 a 49 999 habitantes,20220150150921101,...,NaN,Matched (3),Matched (3),Varon,11.0,38481.0,3206.75,8.073013,15.0,225.0
1,2022,07,015012,019,11,02,010101,sierra norte,de 20 000 a 49 999 habitantes,20200150120191102,...,NaN,Matched (3),Matched (3),Mujer,6.0,17353.941,1446.1617,7.276668,23.0,529.0
2,2022,08,015002,002,11,04,010101,sierra norte,de 20 000 a 49 999 habitantes,20220150020021104,...,1.0,Matched (3),Matched (3),Varon,11.0,2404.0,200.33333,5.2999825,2.0,4.0
3,2022,03,015080,041,11,01,010101,sierra norte,area de empadronamiento rural (aer) simple,20220150800411101,...,NaN,Matched (3),Matched (3),Varon,11.0,12762.0,1063.5,6.969321,8.0,64.0

In [10]:
# Viendo las variables por tipo de datos
tipos = df_enaho2022.columns.to_series().groupby(df_enaho2022.dtypes).groups
tipos

{object: ['aÑo', 'mes', 'conglome', 'vivienda', 'hogar', 'codperso', 'ubigeo', 'dominio', 'estrato', 'p201p', 'p203', 'p203a', 'p203b', 'p204', 'p205', 'p206', 'p207', 'edad', 'p208b', 'p209', 'p210', 'p211a', 'p211d', 'p212', 'p213', 'p214', 'p215', 'p216', 'p217', 't211', 'ocupac_r3', 'ocupac_r4', 'rama_r3', 'rama_r4', 'codtarea', 'codtiempo', 'ticuest01', 'facpob07', 'nconglome', 'sub_conglome', 'codinfor', 'p500a', 'p500b', 'p500b1', 'p500c', 'p500d', 'p500d1', 'p500n', 'p500i', 'p501', 'p502', 'p503', 'p504', 'p5041', 'p5042', 'p5043', 'p5044', 'p5045', 'p5046', 'p5047', 'p5048', 'p5049', 'p50410', 'p50411', 'p504a', 'p504b', 'p505', 'p505r4', 'p505b', 'p506', 'p506r4', 'p507', 'p508', 'p509', 'p510', 'p510a1', 'p510b', 'p5111', 'p5112', 'p5113', 'p5114', 'p5115', 'p5116', 'p5117', 'p5118', 'p5119', 'p51110', 'p51111', 'p51112', 'p511a', 'p512a', 'p512b', 'p513', 'p513a', 'p513b', 'p513c', 'p513d', 'p513e', 'p513f', 'p513g', ...]}

In [7]:
df_enaho2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53231 entries, 0 to 53230
Columns: 1475 entries, aÑo to exper2
dtypes: object(1475)
memory usage: 599.0+ MB

In [9]:
df_mincer=df_enaho2022[["mes",]]
df_mincer.head()

  mes
0  10
1  07
2  08
3  03
4  11